body{
    background-color: #eee;
    height: 100vh;
}
.menu{
    background-color: green;
    height: 100vh;
}.menu ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 20px;
    margin-left: 15px;
}
.menu li:first-child{
    align-self: flex-end;
    font-size: 20px;
    margin-bottom: 20px !important;
}
.menu li:nth-child(2):hover{
    transform: scale(1.1) !important;
    margin-left: 0 !important;
}
.menu li:last-child{
    margin-top: 50px;
    margin-bottom: 0;
}   
.menu li{
    margin-bottom: 50px;
}

.menu li:hover{
    transform: scale(1.3);
    margin-left: 20px;
}
.menu a{
    text-decoration: none;
    color: #ffffff;
}
.menu li a i{
    margin-right: 8px;
}



.menu2{
    background-color: #FCFCFF;
    height: 7vh;
}
.menu2 ul{       
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; 
    margin-right: 15px;
}
.menu2 ul li:nth-child(4) img{
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.menu2 ul li{
    margin-left: 20px;
}
.menu2 ul li:hover{
    transform: scale(1.1);
}
.menu2 ul li:first-child{
    position: absolute;
    left: 0;
}
.menu2 ul li:first-child h3{
    font-size: 19px;
}
.menu2 ul li:last-child:hover, .menu2 ul li:first-child:hover{
    transform: none;
}
.menu2 ul li a{
    color: rgb(54, 52, 52);
}
.menu2 .icon {
    font-size: 24px;
}
.menu2 .nom{
    font-size: 16px;
    margin-bottom: 0;
    margin-left: -10px;
    margin-top: 5px;
}
.menu2 .specialite{
    font-size: 12px;
    color: #777;
    margin-left: -10px;
}


.main{
    height: 93vh; 
    padding: 15px;
}
.main .mainFils{
    background-color: white; 
    width: 100%; 
    border-radius: 17px; 
    box-shadow: 0px 0px 7px #888888;
    padding: 20px;
    
}
.main .mainFils .elements{
    margin: 25px;
}
.main .mainFils .elements .total{
    margin: auto;
}
.main .mainFils .elements .total span{
    color: red;
}




.container {
padding: 2rem 0rem;
}

h4 {
margin: 2rem 0rem 1rem;
}

.table-image td th{
    vertical-align: middle;
}

  