<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/styles.css}">
    <script th:src="@{js/kit.fontawesome.js}"></script>
    <link th:href="@{/vendor/bootstrap/css/bootstrap.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/simple-sidebar.css}" rel="stylesheet">
    <script th:src="@{js/kit.fontawesome.js}"></script>
</head>
<body >
<div class="d-flex h-auto" id="wrapper" >
    <div th:insert="sidebar :: navbar"></div>
    <div id="page-content-wrapper"  style="background-color: #EBEBEB;height: 745px">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-link" id="menu-toggle">
                <i class="fas fa-bars"></i>
            </button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <!--                    <li class="nav-item active">-->
                    <!--                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
                    <!--                    </li>-->
                    <li class="nav-item align-items-center d-flex">
                        <h5 class="my-auto text-secondary"th:text="${firstName}"></h5>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle icon" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img th:src="@{images/user.jpg}" class="rounded-circle"  width="25" height="25">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt" ></i>Déconnexion</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
<!--        success alert-->
        <div th:if="${newHopital!=null&&success==true}"  class="alert alert-success alert-dismissible fade show " id="success_alert" role="alert">
            <strong>Succés</strong> L'Hopital <span th:text="${newHopital.nom} "></span> a été ajouté avec success
            <button type="button" class="close"  data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div th:if="${failed==true}"  class="alert alert-danger alert-dismissible fade show " id="error_alert" role="alert">
            <strong>Echec</strong> Erreur pendant l'ajout de l'hopital
            <button type="button" class="close"  data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div style="height: 90%; overflow-y: scroll">
            <div class="m-3 " >
                <div class="container-fluid  rounded-lg h-100 pt-5 bg-white " >
                    <div class="mainFils">
                        <div class="container" style="padding: 50px;">
                            <div class="modal" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Modal body text goes here.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form th:action="@{ajouter}" novalidate name="myForm" id="myForm" onsubmit="return validateForm()" th:object="${hopital}" method="post">
                                <div class="form-group row">
                                    <label for="inputName"  class="col-sm-2 col-form-label">Nom</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputName" th:field="*{nom}" placeholder="Nom de l'hôpital">
                                        <small class="text-danger" th:errors="*{nom}" th:if="${#fields.hasErrors('nom')}"></small>
                                        <div class="invalid-feedback">
                                            Nom invalide
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputTel" class="col-sm-2 col-form-label">Téléphone</label>
                                    <div class="col-sm-10">
                                        <input type="tel" class="form-control" id="inputTel" th:field="*{telephone}" placeholder="Téléphone">

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputAdresse" class="col-sm-2 col-form-label">Adresse</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputAdresse" th:field="*{adresse}" placeholder="Adresse">
                                        <small class="text-danger" th:errors="*{adresse}" th:if="${#fields.hasErrors('adresse')}"></small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputEmail" th:field="*{email}" placeholder="Email">
                                        <small class="text-danger" th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-success" >Ajouter</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- delete dialog-->
        <div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <i class="fas fa-exclamation-triangle"></i>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form th:action="delete" method="post">
                        <div class="modal-body">
                            Voulez vous supprimer definitivement l'hopital?
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="idToDelete" id="idToDelete" value="">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">NON</button>
                            <button type="submit" class="btn btn-primary">OUI</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Details dialog-->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="width: auto" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-light">
                        <h5 class="modal-title text-success" id="exampleModalLongTitle">Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="display: flex;flex-direction: row">
                        <img width="100" height="100" src="https://www.graphicsprings.com/filestorage/stencils/860fd685a429f4b8aca1357d07297d79.png?width=500&height=500"/>
                        <table class="pull-left col-md-8 ml-5">
                            <tbody>
                            <tr>
                                <td class="h6"><strong class="text-primary">ID</strong></td>
                                <td> </td>
                                <td class="h5" id="d-id"></td>
                            </tr>
                            <tr>
                                <td class="h6"><strong class="text-primary">Nom</strong></td>
                                <td> </td>
                                <td class="h5" id="d-nom"></td>
                            </tr>

                            <tr>
                                <td class="h6"><strong class="text-primary">Adresse</strong></td>
                                <td> </td>
                                <td class="h5" id="d-adresse"></td>
                            </tr>

                            <tr>
                                <td class="h6"><strong class="text-primary">Telephone</strong></td>
                                <td> </td>
                                <td class="h5" id="d-tel"></td>
                            </tr>
                            <tr>
                                <td class="h6"><strong class="text-primary">Email</strong></td>
                                <td> </td>
                                <td class="h5" id="d-mail"></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer bg-light">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a href="/modifier?id="  id="editButton"><button type="button"   class="btn btn-danger">Modifier</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div></div>
<script th:src="@{/vendor/jquery/jquery.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.js}"></script>
<script>
    function validateForm() {
        var name = document.forms["myForm"]["inputName"].value;
        var adress = document.forms["myForm"]["inputAdresse"].value;
        var email = document.forms["myForm"]["inputEmail"].value;
        var valid=true;
        if (name.toString().trim().length ===0) {
            invalidate("firstname");
            valid =false;
        }
        if (adress.toString().trim().length === 0) {
            invalidate("lastName");
            valid= false;
        }
        if (email.toString().trim().length === 0) {
            invalidate("mail");
            valid= false;
        }

        return valid;

    }
    function invalidate(id){
        document.getElementById(id).setAttribute("class","form-control is-invalid ");
    }
</script>
</body>
</html>