<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Respirator</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/styles.css}">
    <script th:src="@{js/kit.fontawesome.js}"></script>

</head>
<body>
    <div class="container-fluid" style="position: fixed;">
        <div class="row">
            <div th:include="n"></div>
            <div class="col-md-2 menu" th:insert="sidebar :: navbar"></div>
            <div class="col-md-10"> 
                <div class="row">
                    <div class="col-md-12 menu2">
                        <ul class="list-unstyled">
                            <li><h3>Accueil</h3></li>
                            <li><a href="#"><i class="fas fa-search icon"></i></a></li>
                            <li><a href="#"><i class="far fa-bell icon"></i></a></li>
                            <li><a><img th:src="@{image/user.jpg}" class="rounded-circle" alt="Utilisateur"></a></li>
                            <li>
                                <h5 class="nom"th:text="${firstName+' '+ lastName}"></h5>
                                <h6 class="specialite"></h6>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row main">
                    <div class="mainFils">
                        
                    </div>
                </div>
            </div>   
        </div>
    </div>
</body>
</html>