<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Respirator</title>
    <link th:href="@{/vendor/bootstrap/css/bootstrap.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/simple-sidebar.css}" rel="stylesheet">
    <script th:src="@{js/kit.fontawesome.js}"></script>

</head>
<body>
<div class="d-flex h-auto" id="wrapper" >
    <div th:insert="sidebar :: navbar"></div>
    <div id="page-content-wrapper"  style="background-color: #EBEBEB;height: 745px">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-link" id="menu-toggle">
            <i class="fas fa-bars"></i>
        </button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <!--                    <li class="nav-item active">-->
                <!--                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
                <!--                    </li>-->
                <li class="nav-item align-items-center d-flex">
                    <h5 class="my-auto text-secondary"th:text="${firstName}"></h5>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle icon" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img th:src="@{images/user.jpg}" class="rounded-circle"  width="25" height="25">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt" ></i>Déconnexion</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
        <div style="height: 90%; overflow-y: scroll">
            <div class="m-3 " >
                <div class="container-fluid  rounded-lg h-100 pt-5 bg-white " >
                    <div class="mainFils">
                        <div class="row elements">
                            <div class="col-md-4 total">
                                <h6>Total : <span th:text="*{total}"></span></h6>
                            </div>
                            <div class="col-md-3">
                                <a class="btn btn-success" th:href="ajouter">Ajouter +</a>
                            </div>
                            <div class="col-md-5">
                                <form class="form-inline">
                                    <div class="form-group mx-sm-1 mb-2">
                                        <input class="form-control" id="srch"   th:value="*{search}" placeholder="Entrez le nom">
                                    </div>
                                    <a  class="btn btn-primary mb-2"  onclick="this.href='?search='+document.getElementById('srch').value" >Rechercher</a>
                                </form>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-12"  >
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Nom</th>
                                            <th scope="col">Téléphone</th>
                                            <th scope="col">Adresse</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr scope="row" th:if="${hopitals.isEmpty()}">
                                            <td colspan="5">Pas d'hopital</td>
                                        </tr>
                                        <tr th:each="hopital,ind : ${hopitals}">
                                            <th scope="row" th:text="${hopital.id}"> Title </th>
                                            <td th:text="${hopital.nom}"></td>
                                            <td th:text="${hopital.telephone}"></td>
                                            <td th:text="${hopital.adresse}"></td>
                                            <td>
                                                <button th:onclick="'javascript:setHopitalVal(' + ${ind.index} + ');'"  class="btn btn-outline-primary hdetails" type="button"  data-toggle="modal" data-target="#exampleModalCenter"><i class="far fa-eye"></i></button>
                                                <a class="btn  btn-outline-success" th:href="${'modifier?id='+hopital.getId()}"><i class="fas fa-edit"></i></a>
                                                <a class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteDialog" th:onclick="'javascript:placeId(' + ${ind.index} + ');'" ><i class="far fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <nav aria-label="...">
                                        <ul class="pagination">
                                            <li class="page-item" th:classappend="${!hasPrevious}? disabled:enabled">
                                                <a class="page-link" th:href="${'?offset='+(currentPage -1)}" ><i class="fas fa-chevron-left"></i></a>
                                            </li>
                                            <li class="page-item">
                                                <div class="page-link"><span th:text="*{currentPage +1}"></span><span>/</span><span th:text="*{totalPage}"></span></div>
                                            </li>
                                            <li class="page-item" th:classappend="${!hasNext}? disabled:enabled">
                                                <a class="page-link" th:href="${'?offset='+currentPage+1}"><i class="fas fa-chevron-right"></i></a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- delete dialog-->
    <div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="fas fa-exclamation-triangle"></i>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="delete" method="post">
                <div class="modal-body">
                    Voulez vous supprimer definitivement l'hopital?
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="idToDelete" id="idToDelete" value="">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">NON</button>
                    <button type="submit" class="btn btn-primary">OUI</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Details dialog-->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="width: auto" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h5 class="modal-title text-success" id="exampleModalLongTitle">Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="display: flex;flex-direction: row">
                    <img width="100" height="100" src="https://www.graphicsprings.com/filestorage/stencils/860fd685a429f4b8aca1357d07297d79.png?width=500&height=500"/>
                    <table class="pull-left col-md-8 ml-5">
                        <tbody>
                        <tr>
                            <td class="h6"><strong class="text-primary">ID</strong></td>
                            <td> </td>
                            <td class="h5" id="d-id"></td>
                        </tr>
                        <tr>
                            <td class="h6"><strong class="text-primary">Nom</strong></td>
                            <td> </td>
                            <td class="h5" id="d-nom"></td>
                        </tr>

                        <tr>
                            <td class="h6"><strong class="text-primary">Adresse</strong></td>
                            <td> </td>
                            <td class="h5" id="d-adresse"></td>
                        </tr>

                        <tr>
                            <td class="h6"><strong class="text-primary">Telephone</strong></td>
                            <td> </td>
                            <td class="h5" id="d-tel"></td>
                        </tr>
                        <tr>
                            <td class="h6"><strong class="text-primary">Email</strong></td>
                            <td> </td>
                            <td class="h5" id="d-mail"></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer bg-light">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="/modifier?id="  id="editButton"><button type="button"   class="btn btn-danger">Modifier</button></a>
                </div>
            </div>
        </div>
    </div>
    </div></div>

    <script th:inline="javascript">
        function setHopitalVal(ind){
            var arr=[[${hopitals}]]
            document.getElementById('d-nom').innerText=arr[ind].nom;
            document.getElementById('d-id').innerText=arr[ind].id;
            document.getElementById('d-adresse').innerText=arr[ind].adresse;
            document.getElementById('d-tel').innerText=arr[ind].telephone;
            document.getElementById('d-mail').innerText=arr[ind].email;
            document.getElementById('editButton').setAttribute('href',document.getElementById('editButton').getAttribute('href')+arr[ind].id)
        }
        function placeId(ind){
            var arr=[[${hopitals}]]
            document.getElementById('idToDelete').setAttribute('value',arr[ind].id);
        }
        function sdelete(id){

        }
    </script>
<script th:src="@{/vendor/jquery/jquery.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.js}"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
</body>
</html>