<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Respirator</title>
    <link th:href="@{/vendor/bootstrap/css/bootstrap.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/simple-sidebar.css}" rel="stylesheet">
    <link th:href="@{/css/tab.css}" rel="stylesheet">
    <script th:src="@{js/kit.fontawesome.js}"></script>

</head>
<body>
<div class="d-flex h-auto" id="wrapper" >
    <div th:insert="sidebar :: navbar"></div>
    <div id="page-content-wrapper"  style="background-color: #EBEBEB;height: 745px">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-link" id="menu-toggle">
                <i class="fas fa-bars"></i>
            </button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <!--                    <li class="nav-item active">-->
                    <!--                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
                    <!--                    </li>-->
                    <li class="nav-item align-items-center d-flex">
                        <h5 class="my-auto text-secondary"th:text="${firstName}"></h5>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle icon" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img th:src="@{images/user.jpg}" class="rounded-circle"  width="25" height="25">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt" ></i>Déconnexion</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div th:if="${failed==true}"  class="alert alert-danger alert-dismissible fade show " id="error_alert" role="alert">
            <strong>Echec</strong> Erreur pendant l'ajout du materiel
            <button type="button" class="close"  data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div th:if="${success==true}"  class="alert alert-success alert-dismissible fade show " id="success_alert" role="alert">
            <strong>Succes</strong> Materiel ajouté avec success
            <button type="button" class="close" onclick="close()"  data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div style="height: 90%; overflow-y: scroll">
            <div class="m-3 " >
                <div class="container-fluid  rounded-lg  pt-5 bg-white " >
                    <nav class="mb-3">
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-respirators" role="tab" aria-controls="nav-respirators" aria-selected="true">Respirateur</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Autre</a>

                        </div>
                    </nav>
                </div>
                <div class="container-fluid  rounded-lg h-100 pt-5 bg-white " >

                    <div class="tab-content mainFils" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-respirators" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row elements">
                            <div class="col-md-4 total">
                                <h6>Total : <span th:text="*{total}"></span></h6>
                            </div>
                            <div class="col-md-3">
                                <button type="button"  data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-success"><i class="fas fa-card"></i><i class="fas fa-plus"></i></button>
                            </div>
                            <div class="col-md-5">
                                <form class="form-inline">
                                    <div class="form-group mx-sm-1 mb-2">
                                        <input class="form-control" id="srch"  th:value="*{search}" placeholder="Entrez le nom">
                                    </div>
                                    <a  class="btn btn-primary mb-2"  onclick="this.href='?search='+document.getElementById('srch').value" >Rechercher</a>
                                </form>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-12"  >
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th scope="col">Num</th>
                                            <th scope="col">Libelle</th>
                                            <th scope="col">Chambre</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr scope="row" th:if="${respirators.isEmpty()}">
                                            <td colspan="5">Pas de respirateur</td>
                                        </tr>
                                        <tr th:each="resp,ind : ${respirators}">
                                            <td th:text="${resp.id}"></td>
                                            <td th:text="${resp.name}"></td>
                                            <td th:text="${resp.room}"></td>
                                            <td>
                                                <button  class="btn btn-outline-primary hdetails" type="button" ><i class="far fa-eye"></i></button>
                                                <a class="btn  btn-outline-success" ><i class="fas fa-edit"></i></a>
                                                <a class="btn btn-outline-danger"  ><i class="far fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <nav aria-label="...">
                                        <ul class="pagination">
                                            <li class="page-item" th:classappend="${!hasPrevious}? disabled:enabled">
                                                <a class="page-link" th:href="${'?offset='+(currentPage -1)}" ><i class="fas fa-chevron-left"></i></a>
                                            </li>
                                            <li class="page-item">
                                                <div class="page-link"><span th:text="*{currentPage +1}"></span><span>/</span><span th:text="*{totalPage}"></span></div>
                                            </li>
                                            <li class="page-item" th:classappend="${!hasNext}? disabled:enabled">
                                                <a class="page-link" th:href="${'?offset='+currentPage+1}"><i class="fas fa-chevron-right"></i></a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                    </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            Pas d'autres machines
                        </div>
                </div>
            </div>
        </div>
        <!-- delete dialog-->
        <div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <i class="fas fa-exclamation-triangle"></i>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form th:action="delete" method="post">
                        <div class="modal-body">
                            Voulez vous supprimer definitivement l'hopital?
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="idToDelete" id="idToDelete" value="">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">NON</button>
                            <button type="submit" class="btn btn-primary">OUI</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Details dialog-->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="document" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered"  role="document">
                <div class="modal-content" style="width: max-content">
                <div class="modal-body row " style="width: fit-content">
                    <div class=" mx-auto">
                        <div class="card mt-2 mx-auto p-4 bg-light ">
                            <div class="card-header">
                                <h2 class="text-primary">Nouveau respirateur</h2>
                            </div>
                            <div class="card-body bg-light">
                                <div class="container">
                                    <form id="contact-form" role="form" th:action="@{ajouter-materiel}"  th:object="${respirator}" method="post">
                                        <div class="controls">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="name">Name</label>
                                                        <input id="name" th:field="*{name}" type="text" class="form-control" placeholder="Entrez le nom de l'appareil" required="required" data-error="Nom invalid"> </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="chambre">Chambre</label>
                                                        <input id="chambre" th:field="*{room}"  class="form-control" placeholder="Entrez le numero de la chambre *" required="required" data-error="Numero invalid"> </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <select class="custom-select" name="hp" id="hp" th:field="*{hopital}">
                                                        <option selected th:value="${null}">Hopitals...</option>
                                                        <option  th:each="elt,ind : ${hopitals}"th:value="${elt}"  th:text="${elt.nom}"></option>
                                                    </select> </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12"> <input type="submit" class="btn btn-success btn-send pt-2 btn-block " value="Ajouter"> </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div> <!-- /.8 -->
                    </div>
                </div>
                </div>
            </div>
        </div>
        </div>
    </div></div>
</div>

<script th:inline="javascript">
    // function setHopitalVal(ind){
    //     var arr=[[${hopitals}]]
    //     document.getElementById('d-nom').innerText=arr[ind].nom;
    //     document.getElementById('d-id').innerText=arr[ind].id;
    //     document.getElementById('d-adresse').innerText=arr[ind].adresse;
    //     document.getElementById('d-tel').innerText=arr[ind].telephone;
    //     document.getElementById('d-mail').innerText=arr[ind].email;
    //     document.getElementById('editButton').setAttribute('href',document.getElementById('editButton').getAttribute('href')+arr[ind].id)
    // }
    // function placeId(ind){
    //     var arr=[[${hopitals}]]
    //     document.getElementById('idToDelete').setAttribute('value',arr[ind].id);
    // }
    // function sdelete(id){
    //
    // }
</script>
<script th:src="@{/vendor/jquery/jquery.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.js}"></script>

<!-- Menu Toggle Script -->
<script>
    $('.alert').alert();
    function close(){
        document.getElementById('success_alert').style.display="none";
    }
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
</body>

</html>