<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class=" border-right bg-white" th:fragment="navbar"  id="sidebar-wrapper">
    <div class="sidebar-heading">
        <div>
            <H1><span class="text-primary">H</span><span class="text-secondary">D</span><span class="text-success">C</span></H1>
        </div>
    </div>
    <div class="list-group list-group-flush  bg-transparent">
        <a th:href="@{/dashboard}" class="list-group-item list-group-item-action text-success border-0 mt-2" ><i class="fas fa-home"></i>   Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action text-success border-0 mt-2" ><i class="fas fa-procedures"></i>   Patient</a>
        <a th:href="@{/materiels}" class="list-group-item list-group-item-action text-success border-0 mt-2"><i class="fas fa-lungs"></i>   Matériels</a>
        <a th:href="@{/staff}" class="list-group-item list-group-item-action text-success border-0 mt-2"><i class="fas fa-user-md"></i>   Personnel</a>
        <a th:href="@{/hopitals}" class="list-group-item list-group-item-action text-success border-0 mt-2"><i class="fas fa-clinic-medical"></i>   Hôpitaux</a>
    </div>
</div>

</body>
</html>