<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personnel</title>
    <link th:href="@{/vendor/bootstrap/css/bootstrap.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/simple-sidebar.css}" rel="stylesheet">
    <link th:href="@{/css/user.css}" rel="stylesheet">
    <script th:src="@{js/kit.fontawesome.js}"></script>

</head>
<body>
<div class="d-flex h-auto" id="wrapper" >
    <div th:insert="sidebar :: navbar"></div>
    <div id="page-content-wrapper"  style="background-color: #EBEBEB;height: 745px">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-link" id="menu-toggle">
                <i class="fas fa-bars"></i>
            </button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <!--                    <li class="nav-item active">-->
                    <!--                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
                    <!--                    </li>-->
                    <li class="nav-item align-items-center d-flex">
                        <h5 class="my-auto text-secondary"th:text="${firstName}"></h5>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle icon" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img th:src="@{images/user.jpg}" class="rounded-circle"  width="25" height="25">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt" ></i>Déconnexion</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div style="height: 90%; overflow-y: scroll">
            <div class="m-3 " >
                <div class="container-fluid  rounded-lg h-100 pt-5 bg-white " >
                    <div class="mainFils">
                        <div class="row elements">
                            <div class="col-md-4 total">
                                <h6>Total : <span th:text="*{total}"></span></h6>
                            </div>
                            <div class="col-md-3">
                                <a class="btn btn-success" th:href="new-staff">Ajouter +</a>
                            </div>
                            <div class="col-md-5">
                                <form class="form-inline">
                                    <div class="form-group mx-sm-1 mb-2">
                                        <input class="form-control" id="srch"   th:value="*{search}" placeholder="Entrez le nom">
                                    </div>
                                    <a  class="btn btn-primary mb-2"  onclick="this.href='?search='+document.getElementById('srch').value" >Rechercher</a>
                                </form>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-12"  >
                                    <table class="table table-bordered">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Nom</th>
                                            <th scope="col">type</th>
                                            <th scope="col">Sexe</th>
                                            <th scope="col">Hopital</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr scope="row" th:if="${members.isEmpty()}">
                                            <td colspan="5">List vide</td>
                                        </tr>
                                        <tr th:each="member,ind : ${members}">
                                            <th scope="row" th:text="${member.id}"> Title </th>
                                            <td th:text="${member.lastName}"></td>
                                            <td th:text="${member.type}"></td>
                                            <td th:text="${member.sex}"></td>
                                            <td ><span th:text="${member.hopital.nom}"></span>

                                                <button type="button" class="btn btn-link" data-toggle="modal"   data-target="#exampleModalCenter" >
                                                    <i class="fas fa-external-link-alt" th:onclick="'javascript:setHopitalVal(' + ${ind.index} + ');'"></i>
                                                </button></td>
                                            <td>
                                                <button   class="btn btn-link hdetails" type="button" data-toggle="modal" th:onclick="'javascript:setStaffVal(' + ${ind.index} + ');'"  data-target="#detailModal"   ><i class="far fa-eye"></i></button>
                                                <a class="btn btn-link" th:href="${'/hopitals/'+member.hopital.getId()+'/staffs/'+member.getId()+'/edit'}"><i class="fas fa-edit"></i></a>
                                                <a class="btn btn-link" data-toggle="modal" data-target="#deleteDialog" th:onclick="'javascript:placeId(' + ${ind.index} + ');'" ><i class="far fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <nav aria-label="...">
                                        <ul class="pagination">
                                            <li class="page-item" th:classappend="${!hasPrevious}? disabled:enabled">
                                                <a class="page-link" th:href="${'?offset='+(currentPage -1)}" ><i class="fas fa-chevron-left"></i></a>
                                            </li>
                                            <li class="page-item">
                                                <div class="page-link"><span th:text="*{currentPage +1}"></span><span>/</span><span th:text="*{totalPage}"></span></div>
                                            </li>
                                            <li class="page-item" th:classappend="${!hasNext}? disabled:enabled">
                                                <a class="page-link" th:href="${'?offset='+currentPage+1}"><i class="fas fa-chevron-right"></i></a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- delete dialog-->
        <div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <i class="fas fa-exclamation-triangle"></i>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form th:action="delete-staff" method="post">
                        <div class="modal-body">
                            Voulez vous supprimer definitivement ce membre ?
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="idToDelete" id="idToDelete" value="">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">NON</button>
                            <button type="submit" class="btn btn-primary">OUI</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Details dialog-->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="width: auto" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-light">
                        <h5 class="modal-title text-success" id="exampleModalLongTitle">Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="display: flex;flex-direction: row">
                        <img width="100" height="100" src="https://www.graphicsprings.com/filestorage/stencils/860fd685a429f4b8aca1357d07297d79.png?width=500&height=500"/>
                        <table class="pull-left col-md-8 ml-5">
                            <tbody>
                            <tr>
                                <td class="h6"><strong class="text-primary">ID</strong></td>
                                <td> </td>
                                <td class="h5" id="d-id"></td>
                            </tr>
                            <tr>
                                <td class="h6"><strong class="text-primary">Nom</strong></td>
                                <td> </td>
                                <td class="h5" id="d-nom"></td>
                            </tr>

                            <tr>
                                <td class="h6"><strong class="text-primary">Adresse</strong></td>
                                <td> </td>
                                <td class="h5" id="d-adresse"></td>
                            </tr>

                            <tr>
                                <td class="h6"><strong class="text-primary">Telephone</strong></td>
                                <td> </td>
                                <td class="h5" id="d-tel"></td>
                            </tr>
                            <tr>
                                <td class="h6"><strong class="text-primary">Email</strong></td>
                                <td> </td>
                                <td class="h5" id="d-mail"></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer bg-light">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
    </div></div>
<!-- Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="details" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"  role="document">
        <div class="modal-content" >
                <div class="modal-body row " style="width: fit-content">
                    <div class=" mx-auto">
                        <div class="bg-white rounded-lg shadow-sm p-5">
                            <!-- Credit card form tabs -->
                            <ul role="tablist" class="nav bg-light nav-pills rounded-pill nav-fill mb-3">
                                <li class="nav-item">
                                    <a data-toggle="pill" href="#nav-tab-card" class="nav-link active rounded-pill">
                                        <i class="fa fa-credit-card"></i>
                                        Info Personnelles
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a data-toggle="pill" href="#nav-tab-pro" class="nav-link rounded-pill">
                                        <i class="fas fa-user-md"></i>
                                        Info Professionnelles
                                    </a>
                                </li>
                            </ul>
                            <!-- End -->


                            <!-- Credit card form content -->
                            <div class="tab-content">

                                <!-- credit card info-->
                                <div id="nav-tab-card" class="tab-pane fade show active">
                                    <form role="form">
                                        <div class="form-group">
                                            <label for="s-nom">Id</label>
                                            <input type="text" class="form-control" id="s-id"  readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="s-nom">Nom</label>
                                            <input type="text" class="form-control" id="s-nom" name="username"  readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="s-prenom">Prenom</label>
                                            <input type="text" class="form-control" id="s-prenom" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="s-sex">Sexe</label>
                                            <input type="text" class="form-control" id="s-sex" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="s-sex">Email</label>
                                            <input type="text" class="form-control"  id="s-mail" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="s-phone">Telephone</label>
                                            <input type="text" class="form-control"  id="s-phone" readonly>
                                        </div>
                                                    <div class="btn-group float-right">
                                                        <button type="button" class="btn btn-secondary  mr-3" data-dismiss="modal">Fermer</button>
                                                        <a  id="editButton"><button type="button"   class="btn btn-danger">Modifier</button></a>
                                                    </div>

                                    </form>
                                </div>
                                <!-- End -->

                                <div id="nav-tab-pro" class="tab-pane fade">
                                    <form>
                                        <div class="form-group" id="domain-block">
                                            <label for="s-domain">Domain</label>
                                            <input type="text" class="form-control"  id="s-domain" readonly>
                                        </div>
                                        <div class="form-group" id="fonction">
                                            <label for="s-function">Fonction</label>
                                            <input type="text" class="form-control"  id="s-function" readonly>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- End -->

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<!--<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="details" aria-hidden="true">-->
<!--    <div class="modal-dialog modal-dialog-centered" style="width: 600px" role="document">-->
<!--        <div class="modal-content" style="width: 600px">-->
<!--            <div class="modal-body" style="width: available">-->
<!--                <div class="container emp-profile" >-->
<!--                    <form method="post">-->
<!--                        <div class="row">-->
<!--                            <div class="col-md-4">-->
<!--                                <div class="profile-img">-->
<!--                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ5c2QCGWIDwM5VfLmcIWkU3aMzzQ18uf2ISQ&usqp=CAU" alt=""/>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-md-6">-->
<!--                                <div class="profile-head">-->
<!--                                    <h5 id="s-full-name">-->

<!--                                    </h5>-->
<!--                                    <h6 id="s-function">-->

<!--                                    </h6>-->

<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->

<!--                            <div class="col-md-8 mt-3 ml-1" >-->
<!--                                <div class="tab-content profile-tab mt-3 ml-1" id="myTabContent">-->
<!--                                    <div class="tab-pane fade show active" style="width: content-box" id="home"  role="tabpanel" aria-labelledby="home-tab">-->
<!--                                        <div class="row align-content-between">-->
<!--                                            <div class="col-md-6 ">-->
<!--                                                <label>Id</label>-->
<!--                                            </div>-->
<!--                                            <div class="col-md-6">-->
<!--                                                <p id="s-id"></p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="row">-->
<!--                                            <div class="col-md-6 ">-->
<!--                                                <label>Nom</label>-->
<!--                                            </div>-->
<!--                                            <div class="col-md-6">-->
<!--                                                <p id="s-nom"></p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="row">-->
<!--                                            <div class="col-md-6 ">-->
<!--                                                <label>Prenom</label>-->
<!--                                            </div>-->
<!--                                            <div class="col-md-6">-->
<!--                                                <p id="s-prenom"></p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="row">-->
<!--                                            <div class="col-md-6 ">-->
<!--                                                <label>Sexe</label>-->
<!--                                            </div>-->
<!--                                            <div class="col-md-6">-->
<!--                                                <p id="s-sex"></p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="row">-->
<!--                                            <div class="col-md-6 ">-->
<!--                                                <label>Email</label>-->
<!--                                            </div>-->
<!--                                            <div class="col-md-6">-->
<!--                                                <p id="s-mail"></p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="row ">-->
<!--                                            <div class="col-md-6">-->
<!--                                                <label>Telephone</label>-->
<!--                                            </div>-->
<!--                                            <div class="col-md-6">-->
<!--                                                <p id="s-phone"></p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="row" style="display: none" id="domain-block">-->
<!--                                            <div class="col-md-6 ">-->
<!--                                                <label>Domain</label>-->
<!--                                            </div>-->
<!--                                            <div class="col-md-6">-->
<!--                                                <p id="s-domain"></p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                <a  id="editButton"><button type="button"   class="btn btn-danger">Modifier</button></a>-->
<!--            </div>-->
<!--                    </form> </div>-->

<!--    </div>-->

<!--</div>-->
<!--    </div>-->
<!--</div>-->
<script th:src="@{/vendor/jquery/jquery.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.js}"></script>
<script th:inline="javascript">
    function setHopitalVal(ind){
        var arr=[[${members}]]
        document.getElementById('d-nom').innerText=arr[ind].hopital.nom;
        document.getElementById('d-id').innerText=arr[ind].hopital.id;
        document.getElementById('d-adresse').innerText=arr[ind].hopital.adresse;
        document.getElementById('d-tel').innerText=arr[ind].hopital.telephone;
        document.getElementById('d-mail').innerText=arr[ind].hopital.user.username;
    }
    function placeId(ind){
        var arr=[[${members}]]
        document.getElementById('idToDelete').setAttribute('value',arr[ind].id);
    }
    function setStaffVal(ind){
        var arr=[[${members}]]
        document.getElementById('s-nom').value=arr[ind].lastName;
        document.getElementById('s-id').value=arr[ind].id;
        document.getElementById('s-prenom').value=arr[ind].firstName;
        document.getElementById('s-phone').value=arr[ind].phone;
        document.getElementById('s-sex').value=arr[ind].sex;
        document.getElementById('s-mail').value=arr[ind].user.username;
        document.getElementById('editButton').setAttribute('href','/hopitals/'+arr[ind].hopital.id+'/staffs/'+arr[ind].id+'/edit');
        if (arr[ind].type==='Personnel'){
            document.getElementById('s-function').value=arr[ind].function;
        }else {
            document.getElementById('domain-block').style.display="block";
            document.getElementById('s-function').value=arr[ind].status;
            document.getElementById('s-domain').value=arr[ind].domain;
        }
    }
    function sdelete(id){

    }
</script>
<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    $(function() {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>