<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter</title>
    <link th:href="@{/vendor/bootstrap/css/bootstrap.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/simple-sidebar.css}" rel="stylesheet">
    <script th:src="@{/js/kit.fontawesome.js}"></script>

</head>
<body>
<div class="d-flex h-auto" id="wrapper" >
    <div th:insert="sidebar :: navbar"></div>
    <div id="page-content-wrapper"  style="background-color: #EBEBEB;height: 745px">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-link" id="menu-toggle">
                <i class="fas fa-bars"></i>
            </button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <!--                    <li class="nav-item active">-->
                    <!--                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
                    <!--                    </li>-->
                    <li class="nav-item align-items-center d-flex">
                        <h5 class="my-auto text-secondary"th:text="${firstName}"></h5>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle icon" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img th:src="@{/images/user.jpg}" class="rounded-circle"  width="25" height="25">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt" ></i>Déconnexion</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div th:if="${edit_success==true}"  class="alert alert-success alert-dismissible fade show " id="success_alert" role="alert">
             Modifications enregistrées avec succés
            <button type="button" class="close"  data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>        <div th:if="${failed==true}"  class="alert alert-danger alert-dismissible fade show " id="error_alert" role="alert">
            <strong>Echec</strong> Erreur pendant la modification
            <button type="button" class="close"  data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div style="height: 90%; overflow-y: scroll">
            <div class="m-3 " >
                <div class="container-fluid  rounded-lg h-100 pt-5 bg-white " >
                    <div class="mainFils">

                        <!--                        doctor form-->
                        <div id="doctorForm">
                            <form onsubmit="return validateForm()" novalidate id="form1" name="myForm"  th:object="${staff}" th:action="${'/hopitals/'+staff.hopital.id+'/staffs/'+staff.id+'/edit'}" method="post">
                                <input type="hidden"  name="staff_type" th:value="*{type}">
                                <input type="hidden"  name="hopital" th:value="*{hopital}">
                                <input type="hidden"  name="id" th:value="*{id}">
                                <div class="form-group row">
                                    <label for="firstname"  class="col-sm-2 col-form-label">Prenom</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="firstname" th:field="*{firstName}" placeholder="Prenom">
                                        <small class="text-danger" th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}"></small>
                                        <div class="invalid-feedback">
                                            Prenom invalide
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lastName"  class="col-sm-2 col-form-label">Nom</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="lastName" th:field="*{lastName}" placeholder="Nom">
                                        <small class="text-danger" th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}"></small>
                                        <div class="invalid-feedback">
                                            Nom invalide
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="mail"  class="col-sm-2 col-form-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="mail" name="mail" placeholder="Email">
                                        <div class="invalid-feedback">
                                            Email invalide
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputTel" class="col-sm-2 col-form-label">Téléphone</label>
                                    <div class="col-sm-10">
                                        <input type="tel" class="form-control" id="inputTel" th:field="*{phone}" placeholder="Téléphone">
                                    </div>
                                </div>
                                <div class="form-group " id="gr">
                                    <label for="gr">Sexe</label>
                                    <div class="form-check ml-2">
                                        <input class="form-check-input " type="radio" th:field="*{sex}" id="male" value="M" checked>
                                        <label class="form-check-label" for="male">
                                            Homme
                                        </label>
                                    </div>
                                    <div class="form-check ml-2">
                                        <input class="form-check-input" type="radio" th:field="*{sex}" id="female" value="F" checked>
                                        <label class="form-check-label" for="female">
                                            Femme
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group row" th:if="*{type=='Personnel'}">
                                    <label for="function" class="col-sm-2 col-form-label">Fonction</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="function" th:field="*{function}" placeholder="Fonction">
                                        <small class="text-danger" th:errors="*{function}" th:if="${#fields.hasErrors('function')}"></small>
                                    </div>
                                </div>
                                <div class="form-group row"th:if="*{type=='Medecin'}">
                                    <label for="domain" class="col-sm-2 col-form-label" >Domain</label>
                                    <div class="col-sm-10" >
                                        <input type="text" class="form-control" id="domain" th:field="*{domain}" placeholder="status">
                                        <small class="text-danger" th:errors="*{domain}" th:if="${#fields.hasErrors('domain')}"></small>
                                    </div>
                                </div>
                                <div class="form-group row" th:if="*{type=='Medecin'}">
                                    <label for="status" class="col-sm-2 col-form-label">Status</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="status" th:field="*{status}" placeholder="status">
                                        <small class="text-danger" th:errors="*{status}" th:if="${#fields.hasErrors('status')}"></small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="age" class="col-sm-2 col-form-label">Age</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" id="age" th:field="*{age}" placeholder="Age">
                                        <small class="text-danger" th:errors="*{age}" th:if="${#fields.hasErrors('age')}"></small>
                                    </div>
                                </div>
                                <div class="form-group " id="grmdp">
                                    <label for="gr">Reinitialiser le mot de pass ?</label>
                                    <div class="form-check ml-2">
                                        <input class="form-check-input " type="radio" name="reset_password"  value="true" checked>
                                        <label class="form-check-label" for="male">
                                            Oui
                                        </label>
                                    </div>
                                    <div class="form-check ml-2">
                                        <input class="form-check-input" type="radio" name="reset_password"  value="false" checked>
                                        <label class="form-check-label" for="female">
                                            Non
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-success" >Enregistrer</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--                        staff form-->
<!--                        <div id="staffForm" style="display: none">-->
<!--                            <form  novalidate id="form2" onsubmit="return validateForm2()"  th:action="@{new-staff}" th:object="${staff}" method="post">-->
<!--                                <input type="hidden"  name="staff_type" th:value="'staff'">-->
<!--                                <div class="form-group row">-->
<!--                                    <label for="firstname2"  class="col-sm-2 col-form-label">Prenom</label>-->
<!--                                    <div class="col-sm-10">-->
<!--                                        <input type="text" class="form-control" id="firstname2"  th:field="*{firstName}" placeholder="Prenom">-->
<!--                                        <div class="invalid-feedback">-->
<!--                                            Prenom invalide-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-group row">-->
<!--                                    <label for="lastName2"  class="col-sm-2 col-form-label">Nom</label>-->
<!--                                    <div class="col-sm-10">-->
<!--                                        <input type="text" class="form-control" id="lastName2"  th:field="*{lastName}" placeholder="Nom">-->
<!--                                        <div class="invalid-feedback">-->
<!--                                            Prenom invalide-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-group row">-->
<!--                                    <label for="inputTel2" class="col-sm-2 col-form-label">Téléphone</label>-->
<!--                                    <div class="col-sm-10">-->
<!--                                        <input type="tel" class="form-control" id="inputTel2" th:field="*{phone}" placeholder="Téléphone">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-group row">-->
<!--                                    <label for="mail2"  class="col-sm-2 col-form-label">Email</label>-->
<!--                                    <div class="col-sm-10">-->
<!--                                        <input type="email" class="form-control" id="mail2" name="mail2" placeholder="Email">-->
<!--                                        <div class="invalid-feedback">-->
<!--                                            Email invalid-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-group " id="gr2">-->
<!--                                    <label for="gr2">Sexe</label>-->
<!--                                    <div class="form-check ml-2"  >-->
<!--                                        <input class="form-check-input " type="radio" th:field="*{sex}" id="male2" value="M" checked>-->
<!--                                        <label class="form-check-label" for="male2">-->
<!--                                            Homme-->
<!--                                        </label>-->
<!--                                    </div>-->
<!--                                    <div class="form-check ml-2">-->
<!--                                        <input class="form-check-input" type="radio" th:field="*{sex}" id="female2" value="F" checked>-->
<!--                                        <label class="form-check-label" for="female2">-->
<!--                                            Femme-->
<!--                                        </label>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-group row">-->
<!--                                    <label for="function" class="col-sm-2 col-form-label">Fonction</label>-->
<!--                                    <div class="col-sm-10">-->
<!--                                        <input type="text" class="form-control" id="function" th:field="*{function}" placeholder="Fonction">-->
<!--                                        <small class="text-danger" th:errors="*{function}" th:if="${#fields.hasErrors('function')}"></small>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="form-group row">-->
<!--                                    <label for="age2" class="col-sm-2 col-form-label">Age</label>-->
<!--                                    <div class="col-sm-10">-->
<!--                                        <input type="number" class="form-control" id="age2" th:field="*{age}" placeholder="Age">-->
<!--                                        <small class="text-danger" th:errors="*{age}" th:if="${#fields.hasErrors('age')}"></small>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-group">-->
<!--                                    <select class="custom-select form-control"  id="hp2" th:field="*{hopital}">-->
<!--                                        <option selected th:value="${null}">Hopitals...</option>-->
<!--                                        <option  th:each="elt,ind : ${hopitals}"th:value="${elt}"  th:text="${elt.nom}"></option>-->
<!--                                    </select>-->

<!--                                </div>-->
<!--                                <div class="form-group row">-->
<!--                                    <div class="col-sm-10">-->
<!--                                        <button type="submit" class="btn btn-success" >Ajouter</button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </form>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- delete dialog-->
        <div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <i class="fas fa-exclamation-triangle"></i>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form th:action="delete" method="post">
                        <div class="modal-body">
                            Voulez vous supprimer definitivement l'hopital?
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="idToDelete" id="idToDelete" value="">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">NON</button>
                            <button type="submit" class="btn btn-primary">OUI</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Details dialog-->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="width: auto" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-light">
                        <h5 class="modal-title text-success" id="exampleModalLongTitle">Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="display: flex;flex-direction: row">
                        <img width="100" height="100" src="https://www.graphicsprings.com/filestorage/stencils/860fd685a429f4b8aca1357d07297d79.png?width=500&height=500"/>
                        <table class="pull-left col-md-8 ml-5">
                            <tbody>
                            <tr>
                                <td class="h6"><strong class="text-primary">ID</strong></td>
                                <td> </td>
                                <td class="h5" id="d-id"></td>
                            </tr>
                            <tr>
                                <td class="h6"><strong class="text-primary">Nom</strong></td>
                                <td> </td>
                                <td class="h5" id="d-nom"></td>
                            </tr>

                            <tr>
                                <td class="h6"><strong class="text-primary">Adresse</strong></td>
                                <td> </td>
                                <td class="h5" id="d-adresse"></td>
                            </tr>

                            <tr>
                                <td class="h6"><strong class="text-primary">Telephone</strong></td>
                                <td> </td>
                                <td class="h5" id="d-tel"></td>
                            </tr>
                            <tr>
                                <td class="h6"><strong class="text-primary">Email</strong></td>
                                <td> </td>
                                <td class="h5" id="d-mail"></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer bg-light">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a href="/modifier?id="  id="editButton"><button type="button"   class="btn btn-danger">Modifier</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div></div>
<script th:src="@{/vendor/jquery/jquery.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.js}"></script>
<script th:inline="javascript">
    function close(){
        document.getElementById('success_alert').style.display="none";
    }

    $('.alert').alert();

    function validateForm() {
        firstName = document.forms["myForm"]["firstName"].value;
        var lastName = document.forms["myForm"]["lastName"].value;
        var email = document.forms["myForm"]["mail"].value;
        var hp= document.forms["myForm"]["hp"].value;
        var sex= document.forms["myForm"]["sex"].value;
        var valid=true;
        if (firstName.toString().trim().length ===0) {
            invalidate("firstname");
            valid =false;
        }
        if (lastName === "") {
            invalidate("lastName");
            valid= false;
        }
        if (email === "") {
            invalidate("mail");
            valid= false;
        }
        if (hp===null){
            invalidate("hp");
            valid=false;
        }
        if (sex===null){
            invalidate("sex");
            valid=false;
        }
        return valid;

    }
    function invalidate(id){
        document.getElementById(id).setAttribute("class","form-control is-invalid ");
    }
</script>
<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
</body>
</html>